@import url("navbar.css");
body{
    background-color: #FDF6F0;
}

h3{
    display: block;
    justify-content: space-evenly;
}

#connect{
    margin: 150px;
    padding: 0;
    font-family: sans-serif; 
    text-align: center;
}

input[type="email"], input[type="password"], input[type="text"]  {  /*formulaire avec tous les inputs*/
    box-sizing: border-box;
    display: block;
    position: inherit;
    margin: 5px auto;
    font-size: 13px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(152, 151, 151); 
    outline: none;
    height: 40px;
    width: 220px;
}

.boutonLog{ /*bouton se connecter et s'inscrire*/
    border-radius: 6px;
    outline: none;
    background: #a17d60;
    color: white;
    font-size: 13px;
    cursor: pointer;
    padding: 8px 80px;
    position: relative;
    margin: 20px;
    margin-bottom: 55px;
}

.boutonLog:hover{
    background-color: #dbb79a;
}
