.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: -webkit-sticky;
    position:sticky;
}

.navbar li{
    display:inline-block;
    color: #a17d60;
}

.navbar li a {
    display: flex;
    padding: 0vw 3vw;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    font-size: 1vw;
    color: #a17d60;
    
}

.navbar li #accueil:hover, #connex:hover {
    color: black;
} 

.navbar h2 {
    padding: 0vw 0vw;
}

input[type="search"] {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    
  }

  .go {
    width: 10%;
    background-color: #a17d60;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  