@import url("navbar.css");


body{ /*style de la page entière*/
    background-color: #FDF6F0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#banniere{
    position: relative;
    text-align: center;
    margin: 2%;
}

#banniere img{
    width: 711px;
    height: 473px;
}

.p{
    font-size: 30px;
    font-style: italic;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#Recettes{ /*ensemble des 3 recettes*/
    text-align: center;
    margin: 70px;
}

#Recettes li{ /*recette une par une*/
    display: inline-block;
    justify-content: space-between;
    width: 310px;
    height: 420px;
    background-color: black;

}

#categories{ /*ensemble des catégories*/
    text-align: center;
}

#categories button{ /*categorie une par une*/
    width: 119px;
    height: 151px;
    border-radius: 20px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    margin: 40px;
    padding: 85px 4px 8px;
    display: inline-block;
    background-color: white;/*#c85103*/
    color: black;
    box-shadow:rgb(0 0 0 / 10%) 0px 0px 10px;
    cursor: pointer;
    position: relative;
    
}

#categories button:hover{ /*quand on passe la souris dessus*/
   background-color: whitesmoke;
}

#categories img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 15px;
    left: 25px;
}

h4{
    font-size: 40px;
    text-align: center;
}

