body {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 50%;
  padding: 15px 170px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;

}

input[type="submit"] {
  width: 20%;
  background-color: #a17d60;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  line-height: 50px;
  width: 200px;
}

input[type="submit"]:hover {
  background-color: #664f3d;
}

.container {
  display: flex;
  flex-direction: column;
}