.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#url {
    display: none;
}

.navbar li{
    display:inline-block;
    color: #a17d60;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar li a {
    display: flex;
    padding: 0vw 2vw;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    font-size: 1vw;
    color: #a17d60;

}

.navbar li #accueil:hover, #connex:hover,  #inscr:hover {
    color: black;
}

.navbar h2 {
    padding: 0vw 0vw;
}

input[type="text"] {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;

}

input[value="Rechercher"] {
    width: 10%;
    background-color: #a17d60;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="search"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.go {
    width: 25%;
    background-color: #a17d60;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}


#logo img {
    width: 30%;
    height: 30%;
}

@media only screen and (max-width: 600px) {
    .navbar{
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #url {
        display: none;
    }

    h2 {
        font-size: 1.5em; /* Utiliser des unités en pourcentage pour que la taille de police soit proportionnelle à la taille de l'écran */
    }

    .navbar li{
        justify-content: center;
        color: #a17d60;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .navbar li a {
        padding: 0.5vw 1vw; /* Changer la taille des padding en fonction de la taille de l'écran */
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        font-size: 1.5vw; /* Utiliser des unités en pourcentage pour que la taille de police soit proportionnelle à la taille de l'écran */
        color: #a17d60;

    }

    .navbar li #accueil:hover, #connex:hover,  #inscr:hover {
        color: black;
    }

    .navbar h2 {
        padding: 0vw 0vw;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
    }

    #accueil, #connex, #inscr  {
        bottom: 1000px;
        display: flex;
        line-height: 5.5vw;
        font-size: 1.7vw;
    }

    input[type="search"] {
        width: 60%;
        height: 2vw;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        position: relative;
        bottom: 1.3vw;
    }

    #boutonn {
        width: 5%;
        height: 4vw;
        background-color: #a17d60;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        line-height: 0%;
        position: relative;
        bottom: 1.3vw;
    }

    #logo img {
        width: 8vw;
        height: 8vw;


    @media only screen and (max-width: 600px) {
        width: 50px;
        height: 50px;
    }
}

}