@import url("navbar.css");
@import url("footer.css");

body{ /*style de la page entière*/
    background-color: #FDF6F0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.boutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 50px;

}

.boutton-page-recette {
    overflow: hidden;
    z-index: 111;
}

.boutton-page-recette button {
    padding: 10px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  background-color: #a17d60;
  border-radius: 10px;
}

.boutton-page-recette :hover{
    transition: 0.4s;
    background-color: #ad8d72;
    border: 1.8px solid #ad8d72;
  }

.random-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


#banniere{
    position: relative;
    text-align: center;
    margin: 2%;
}

#banniere img{
    width: 711px;
    height: 473px;
    border-radius: 40px;

}

.p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 30px;
    font-style: italic;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    border-radius: 10px;
    width: 25%;
}


.main-image {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
}


#Recettes ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#Recettes li{ /*recette une par une*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: 420px;
    overflow: hidden;
}

#Recettes img {
    display: block;
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
}

.box-image ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image-recette{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.image-recette-choisie{
    display: block;
    object-fit: cover;
    width: 35rem;
    height: 25rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
}

.nom-recettes {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}



#categories{ /*ensemble des catégories*/
    text-align: center;
}

#categories button{ /*categorie une par une*/
    width: 119px;
    height: 151px;
    border-radius: 20px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    margin: 40px;
    padding: 85px 4px 8px;
    display: inline-block;
    background-color: white;/*#c85103*/
    color: black;
    box-shadow:rgb(0 0 0 / 10%) 0px 0px 10px;
    cursor: pointer;
    position: relative;

}

#categories button:hover{ /*quand on passe la souris dessus*/
    background-color: whitesmoke;
}

#categories img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 15px;
    left: 25px;
}

h4{
    font-size: 40px;
    text-align: center;
}
.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}

.rating a:hover,
.rating a:focus {
    fill: orange;
    cursor: pointer;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 35%;
}

.corps {
    display: flex;
    flex-direction: column;
}


.box_image {
    text-align: center;
}

.cmb_personnes {
    font-size: 20px;
    padding-top: 20px;
    margin-right: 35%;
}

.avis {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temps_total_preparation {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-right: 20%;
    margin-left: 20%;
    align-items: center;
    height: 100%;
    background-color: #FDF6F0;
}

.cuisson, .preparation, .repos {
    font-size: 20px;
}

.corps_étape {
    background-color: white;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

#Commentaires{
    display: flex;
    align-items: baseline;
    margin-left: 150px;
}

#ligneComm{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: 2px;
    color: black;
    background-color: black;
    width: 620px;
}

#ligneAccueil{
    display: flex;
    margin: 2% 15% 2% 15%;
    height: 2px;
    color: black;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.container{
    padding: 20px 60px;
    margin: 20px 150px 150px 150px;
    margin-top: 20px;
    border-radius: 30px;
    background-color:white ;
    box-shadow:rgb(0 0 0 / 10%) 0px 0px 10px;
}

#CommentairesBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#CommentairesBox textarea{
    border-radius: 4px;
    font-size: 1vw;
}

#submitComment{
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    transition-duration: 0.2s;
    background-color: #c85103;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 1vw;
    padding: 0.5vw 1vw;
    cursor: pointer;
}


#commentInput{
    min-width : 30vw;
    height: 6vh;
    resize : none;
}

#CommentairesBox button:hover{
    background-color: #cd885b;
    color: rgb(24, 22, 22);
}

.profilePicture{
    width: 60px;
    height: 60px;
}

.commentArea{
    background-color: #c85103;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 5vh;
    margin-right: 3vw;
    background: #c5beb9;
    text-decoration: none;
}

.profile{
    margin-right: 40px;
    padding-right: 10px;
    border-right: 2px solid;
    border-color: gray;
}
.profileName{
    margin-top: 0;
    text-align: center;
}

.contenuComm{
    display:inline-block;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.commentsDate{
    color: rgb(96, 92, 92);
}

.commentsNote{
    font-size: 10px;
}

.commentsTexts{
    font-size: 1rem;
    text-align: left;
    word-wrap: break-word;
}

p {
    font-size: 13px;
}
